/* noto-sans-sc-100 */
@font-face {
	font-family: 'font-family: "Times New Roman", Times, serif;';
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/noto-sans-sc-100.eot'); /* IE9 Compat Modes */
	src: local(''), url('../fonts/noto-sans-sc-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/noto-sans-sc-100.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/noto-sans-sc-100.woff') format('woff'), /* Modern Browsers */
	/* url('../fonts/noto-sans-sc-100.ttf') format('truetype'), Safari, Android, iOS */
	url('../fonts/noto-sans-sc-100.svg#NotoSansSC') format('svg'); /* Legacy iOS */
	font-display: swap;
}
/* noto-sans-sc-300 */
@font-face {
	font-family: 'Noto Sans SC';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/noto-sans-sc-300.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../fonts/noto-sans-sc-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/noto-sans-sc-300.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/noto-sans-sc-300.woff') format('woff'), /* Modern Browsers */
		/* url('../fonts/noto-sans-sc-300.ttf') format('truetype'), Safari, Android, iOS */
		url('../fonts/noto-sans-sc-300.svg#NotoSansSC') format('svg'); /* Legacy iOS */
	font-display: swap;
}
/* noto-sans-sc-400 */
@font-face {
	font-family: 'Noto Sans SC';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/noto-sans-sc-400.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../fonts/noto-sans-sc-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/noto-sans-sc-400.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/noto-sans-sc-400.woff') format('woff'), /* Modern Browsers */
		/* url('../fonts/noto-sans-sc-400.ttf') format('truetype'), Safari, Android, iOS */
		url('../fonts/noto-sans-sc-400.svg#NotoSansSC') format('svg'); /* Legacy iOS */
	font-display: swap;
}
/* noto-sans-sc-500 */
@font-face {
	font-family: 'Noto Sans SC';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/noto-sans-sc-500.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../fonts/noto-sans-sc-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/noto-sans-sc-500.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/noto-sans-sc-500.woff') format('woff'), /* Modern Browsers */
		/* url('../fonts/noto-sans-sc-500.ttf') format('truetype'), Safari, Android, iOS */
		url('../fonts/noto-sans-sc-500.svg#NotoSansSC') format('svg'); /* Legacy iOS */
	font-display: swap;
}
/* noto-sans-sc-700 */
@font-face {
	font-family: 'Noto Sans SC';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/noto-sans-sc-700.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../fonts/noto-sans-sc-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/noto-sans-sc-700.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/noto-sans-sc-700.woff') format('woff'), /* Modern Browsers */
		/* url('../fonts/noto-sans-sc-700.ttf') format('truetype'), Safari, Android, iOS */
		url('../fonts/noto-sans-sc-700.svg#NotoSansSC') format('svg'); /* Legacy iOS */
	font-display: swap;
}
/* noto-sans-sc-900 */
@font-face {
	font-family: 'Noto Sans SC';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/noto-sans-sc-900.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../fonts/noto-sans-sc-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/noto-sans-sc-900.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/noto-sans-sc-900.woff') format('woff'), /* Modern Browsers */
		/* url('../fonts/noto-sans-sc-900.ttf') format('truetype'), Safari, Android, iOS */
		url('../fonts/noto-sans-sc-900.svg#NotoSansSC') format('svg'); /* Legacy iOS */
	font-display: swap;
}